.description {
	@apply text-[18px] text-mobileBlue leading-6 lg:font-robotoRegular lg:text-primaryBlue;
}
.text {
	@apply mt-6;
	&::first-child {
		@apply mt-0;
	}
}
.mobileText {
	@apply mt-0 lg:mt-6;
}
.bold {
	@apply font-novaBold text-[20px] leading-[25px] text-primaryBlue;
}
.benefit {
	@apply relative ml-8 before:content-[""] before:absolute before:block before:h-[9px] before:w-[9px] before:bg-primarySilver 
	before:top-[8px] before:left-[-32px]
	
	
	
	lg:before:content-[""] lg:before:absolute lg:before:block lg:before:h-[9px] lg:before:w-[9px] lg:before:bg-primarySilver 
	lg:before:top-[3px] lg:before:left-[-20px];
}
