.main {
	@apply bg-cover;
	foo: bar;
}
.jobList {
	@apply max-w-[1420px] mx-auto p-2.5 min-h-[100vh];
	foo: bar;
}
.preload {
	@apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
	foo: bar;
}
