@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nova-bold";
  src: url("./assets/fonts/ProximaNova-Bold.woff");
}
@font-face {
  font-family: "Nova-regular";
  src: url("./assets/fonts/ProximaNova-Regular.woff");
}
@font-face {
  font-family: "Nova-light";
  src: url("./assets/fonts/ProximaNova-Light.woff");
}
@font-face {
  font-family: "Nova-semiBold";
  src: url("./assets/fonts/ProximaNova-Semibold.woff");
}
@font-face {
  font-family: "Roboto-regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}
body {
  @apply min-w-[400px];
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
